<p>
  <b>Name:</b>
  <%=h @race.name %>
</p>

<p>
  <b>Slots:</b>
  <%=h @race.slots %>
</p>

<p>
  <b>Roll:</b>
  <%=link_to @race.roll, election_roll_path(@race.election, @race.roll) %>
</p>

<p>
  <b>Ranked candidates?</b>
  <% if @race.is_ranked? %>
  Candidates are ranked.
  <% else %>
  Candidates are <em>not</em> ranked.
  <% end %>
</p>

<h3>Candidates</h3>
<% if @race.candidates.empty? %>
<p><em>No candidates yet for this race.</em></p>
<% else %>
<table>
<%= render :partial => 'elections/races/candidates/candidate',
           :collection => @race.candidates %>
</table>
<% end %>
<p>
<%= link_to "Add candidate for this race",
            new_election_race_candidate_path( @race.election,
                                              @race ) %>
</p>

<hr/>

<p>
<%= link_to( 'Edit',
             edit_election_race_path(
               @race.election,
               @race)
           ) if @race.may_user?(current_user,:update) %> |
<%= link_to 'Back', election_races_path( @race.election ) %>
</p>