<%=content_tag :tr, id: "ballot-#{ballot.id}" do %>
  <%=content_tag :td, ballot.user.net_id %>
  <%=content_tag :td, ballot.user.first_name %>
  <%=content_tag :td, ballot.user.last_name %>
  <%=content_tag :td, ballot.created_at.to_s( :us_ordinal ) %>
  <td><%= link_to 'Show', ballot_path(ballot) %></td>
  <td><%= link_to( 'Destroy', ballot_path(ballot),
            data: { confirm: 'Are you sure?' },
            method: :delete ) if permitted_to? :destroy, ballot %></td>
<% end %>

