<li>
<% fields_for( "vote_#{option.candidate.id}", option ) do |option_fields| %>
<% if option.candidate.race.is_ranked? %>
<%= option_fields.select( :rank, option.candidate.race.rank_options, { :include_blank => true } ) %>
<% else %>
<%= option_fields.check_box( :rank ) %>
<% end %>
<%=link_to( option.candidate.name,
            popup_election_race_candidate_path( option.candidate.race.election,
                                                option.candidate.race,
                                                option.candidate),
            :popup => true ) %>
<% if option.candidate.linked_candidates.size > 0 %>
<strong>Note</strong> if you select this option, you must also vote for:
<ul>
<% option.candidate.linked_candidates.each do |candidate| %>
<li><%=h candidate.name %> in the <%=h candidate.race.name %> race</li>
<% end %>
</ul>
<% end %>
<% end %>
</li>
