<h3><%=h race.name %></h3>

<%if ballot.warnings.key?(race.id) %>
<div class="warning">
<%=h ballot.warnings[race.id] %>
</div>
<%end%>

<% ballot.warnings.each do |k,v|%>
<%= "Key: #{k}, Value: #{v}.<br/>"%>
<% end %>

<%unless ballot.frozen? %>
<p><em>Instructions for this race:</em></p>

<% if race.is_ranked? %>
<p>
Please rank candidates in order of importance. 
Your lower choices will not affect your higher choices' chance of success.
If you choose not to include a candidate at all it means you would rather have your vote not
count than have it count for that candidate.
<% if ballot.votes.left_for_race(race) > 0 %>
You may add up to  <%=h pluralize(ballot.votes.left_for_race(race),'candidate') %> 
in addition to the selections you have chosen here.
<% else %>
You have chosen the maximum number of candidates permitted for this race.
<% end %>
</p>

<% else %>
<p>
Please select the candidates you would like to elect for this race.  
<% if ballot.votes.left_for_race(race) > 0 %>
You may add up to <%=h pluralize(ballot.votes.left_for_race(race),
                                 'candidate') %> 
in addition to the selections you have chosen here.
<% else %>
You have chosen the maximum number of candidates permitted for this race.
To change your selections, please remove candidates from the ballot.
<% end %>
</p>

<% end %>
<% end %>

<% if race.is_ranked? %>
<ol id="race_<%=race.id%>" name="race_<%=race.id%>">
<% else %>
<ul id="race_<%=race.id%>" name="race_<%=race.id%>">
<% end %>

<%= render :partial => 'elections/ballots/votes/vote',
           :collection => ballot.votes.for_race( race ),
           :locals => { :lock => ballot.frozen? } %>


<% if race.is_ranked? %>
</ol>
<% else %>
</ul>
<% end %>

<% unless ballot.votes.for_race(race).size > 0 %>
<em>You have not cast any votes for this race.</em>
<% end %>

<% unless ballot.votes.left_for_race(race) == 0 || ballot.frozen? %>
<% form_for( :vote,
             Vote.new,
             :url => election_ballot_votes_path( ballot.election, ballot ),
             :html => { :method => :post } ) do |f| %>
<%= render :partial => 'elections/ballots/votes/form',
           :locals => { :f => f, :race => race, :user => ballot.user } %> 
<%= f.submit "Add vote" %>
<% end %>
<% end %>