<h2>Confirm ballot of <%=h @ballot.user.name %> for <%=h @ballot.election.name %></h2>

<p>
Please review the ballot below to assure it correctly reflects your preferences for the election.
When you have finished please click the link at the end to cast your ballot.  You may not review or
further modify your ballot after you have confirmed.
</p>

<% semantic_form_for( :ballot, @ballot, :url => election_ballots_path( @ballot.election ) ) do |f| %>

<% f.inputs do %>
<%= render :partial => 'form', :object => f %>

<%= f.input :confirmation, :as => :radio, :label => 'I want to',
      :collection => [ ['Cast my votes for these choices', true],
                       ['Make changes to these choices', false] ] %>
<% end %>

<% f.buttons do %>
<%= f.commit_button 'Continue' %>
<% end %>

<% end %>

