<%=content_tag :h1, "Confirm ballot of #{ballot.user.name} for #{ballot.election.name}" %>

<p>
Please review the ballot below to assure it correctly reflects your preferences for the election.
When you have finished please click the link at the end to cast your ballot.  You may not review or
further modify your ballot after you have confirmed.
</p>

<%= simple_form_for( ballot, wrapper: :horizontal_form,
  url: election_ballots_path( ballot.election ) ) do |f| %>
  <%= render partial: 'form', object: f %>
  <%= field_set_tag "Confirmation" do %>
  <%= f.input :confirmation, as: :radio_buttons, label: 'I want to',
       collection: [ ['Cast my votes for these choices', true ],
                     ['Make changes to these choices'  , false] ] %>
  <% end %>
  <%= f.button :wrapped, label: 'Continue', cancel: home_path %>
<% end %>

