<h2>Listing ballots for <%=h @context %></h2>

<%= form_tag polymorphic_path([ @context, :ballots ]), :method => :get do |f| %>
  <p>
    <%= label_tag 'search[user_name_contains]', 'Name' %>
    <%= text_field_tag 'search[user_name_contains]', @search['user_name_contains'] %>
    <%= submit_tag 'Search' %>
  </p>
<% end %>

<%= paginate @ballots %>

<%= render :partial => "ballots", :object => @ballots %>

<%= paginate @ballots %>

<hr />

<p>
<% if @context %>
<%= link_to h("Back to #{@context}"), @context %>
<% end %>
</p>

