<h2>Listing ballots for <%=h @context %></h2>

<p>
	<%= form_for( @search, :as => :search, :url => polymorphic_path( [ @context, :ballots ] ),
	  :html => { :method => :get } ) do |form| %>
	<%= form.label :user_name_like, 'User' %>
	<%= form.text_field :user_name_like  %>
	<%= submit_tag "Go" %>
	<% end %>
</p>

<%= will_paginate @users %>

<%= render :partial => "ballots", :object => @ballots %>

<%= will_paginate @users %>

<hr />

<p>
<% if @context %>
<%= link_to h("Back to #{@context}"), @context %>
<% end %>
</p>

