<h2>Listing ballots for <%=h @context %></h2>

<p>
	<%= form_tag polymorphic_path( [ @context, :ballots ] ), :method => :get %>
	Search: <%= text_field_tag :search, @search %>
	<%= submit_tag "Go" %>
</p>

<%= will_paginate @users %>

<%= render :partial => "ballots", :object => @ballots %>

<%= will_paginate @users %>

<hr />

<p>
<% if @context %>
<%= link_to h("Back to #{@context}"), @context %>
<% end %>
</p>

