<%=content_tag :h1, "Ballots for #{context}" %>

<%= form_tag polymorphic_path([ context, :ballots ]), method: :get do |f| %>
  <p>
    <%= label_tag 'q[user_name_contains]', 'Name' %>
    <%= text_field_tag 'q[user_name_contains]', q['user_name_contains'] %>
    <%= submit_tag 'Search' %>
  </p>
<% end %>

<%= paginate ballots %>

<%= render partial: "ballots", object: ballots %>

<%= paginate ballots %>

<hr />

