<h2>Ballot of <%= @ballot.user %> for <%= @ballot.election %> election</h2>

<%= semantic_form_for( @ballot, :url => confirm_new_election_ballot_path( @ballot.election ) ) do |f| %>

  <%= render "shared/error_messages", :target => f.object %>

  <%= f.inputs do  %>
    <%= render :partial => 'form', :object => f %>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, label:  'Continue'%>
  <% end %>
<% end %>

<hr/>

