<h2>Ballot of <%=h @ballot.user %> for <%=h @ballot.election %> election</h2>

<%= semantic_form_for( @ballot,
  :url => confirm_new_election_ballot_path( @ballot.election ) ) do |f| %>

  <%= f.error_messages %>

  <% f.inputs do  %>
    <%= render :partial => 'form', :object => f %>
  <% end %>

  <% f.buttons do %>
    <%= f.commit_button 'Continue'%>
  <% end %>
<% end %>

<hr/>

