<%=content_tag :li, id: "race-#{race.id}" do %>
  <p>Race name: <%= race.name %></p>
  <p>Slots: <%= race.slots %></p>
  <p>Ranked? <%= race.is_ranked? ? 'Yes' : 'No' %></p>
  <p>Roll: <%= race.roll %></p>
  <%=markdown race.description %>
  <%=render partial: 'candidates/candidates', object: race.candidates %>
<% end %>

