<p>
  <b>Name:</b> <%=h @race.name %>
</p>

<p>
  <b>Slots:</b> <%=h @race.slots %>
</p>

<p>
  <b>Roll:</b> <%=link_to @race.roll, roll_path( @race.roll ) %>
</p>

<p>
  <b>Is ranked?</b> <%= @race.is_ranked? ? 'Yes': 'No'  %>
</p>

<p>
  <b>Description:</b> <i>To appear on the ballot.</i>
</p>

<%= markdown(@race.description) %>

<p>
<%= link_to( 'Edit', edit_race_path( @race ) ) if @race.may_user?(current_user,:update) %> |
<%= link_to 'Back', election_races_path( @race.election ) %> |
<%= link_to 'Candidates', race_candidates_path(@race) %>
</p>

