<%= render "shared/error_messages", :target => form.object %>

<%= form.inputs do %>
  <%= form.input :net_id %>
  <%= form.input :email %>
  <%= form.input :first_name %>
  <%= form.input :last_name %>
  <%= form.input :admin, :as => :radio if current_user.admin? %>
  <%= form.input :password, label: "Set Password" %>
  <%= form.input :password_confirmation, as: :password, label: "Confirm Password" %>
<% end %>

<h3>Allowed races</h3>

<p>
Please select the rolls in which the user should be listed.
</p>

<% Election.find(:all, :include => :rolls, :order => 'rolls.name ASC').each do |election| %>
  <h4><%= election.name %></h4>
  <ul>
    <% election.rolls.each do |roll| %>
    <li><%= check_box_tag 'user[roll_ids][]', roll.id, @user.rolls.include?(roll) %> <%= roll.name %></li>
    <% end %>
  </ul>
<% end %>

<%= form.actions %>

