<%= table_row_tag do %>
  <td><%= user.net_id %></td>
  <td><%= user.first_name %></td>
  <td><%= user.last_name %></td>
  <td><%= link_to 'Show', user %></td>
  <td><%= link_to 'Edit', edit_user_path(user) if permitted_to? :edit, user %></td>
  <td><%= link_to( 'Destroy', user, data: { confirm: 'Are you sure?' },
            method: :delete ) if permitted_to? :destroy, user %></td>
<% end %>

