<h2>Bulk add users to <%=h @roll %></h2>

<%= form_tag bulk_create_roll_users_path( @roll ), :multipart => true do %>
<p>
You may specify voters to add by listing comma-separated values like this:
<pre>
abc1,abc1@example.com,Alpha,Bet
jd1,jd1@anotherexample.com,John,Doe
</pre>
<br/>
<%= text_area_tag 'users' %>
</p>

<p>
You may also upload a file with such data.
<br/>
<%= file_field_tag 'users_file' %>
</p>

<br/>
<%= submit_tag 'Add users to roll' %>
<% end %>

