<h2>Listing users <%= "for #{h @roll}" if @roll %></h2>

<p>
	<%= form_tag (@roll ? roll_users_path( @roll ) : users_path), :method => :get %>
	Search: <%= text_field_tag :search, @search %>
	<%= submit_tag "Go" %>
</p>

<%= will_paginate @users %>

<br/>

<table>
  <thead>
    <tr>
      <th>Net id</th>
      <th>First name</th>
      <th>Last name</th>
    </tr>
  </thead>
  <tbody>
  <%= render :partial => 'user', :collection => @users %>
  </tbody>
</table>

<br />

<%= will_paginate @users %>

<p>
<%= link_to 'New user', new_user_path %>
</p>

