<h1>Listing users <%= "for #{roll}" if roll %></h1>

<%= form_tag polymorphic_path([ roll, :users ]), method: :get do |f| %>
  <p>
    <%= label_tag 'q[name_contains]', 'Name' %>
    <%= text_field_tag 'q[name_contains]', q['name_contains'] %>
    <%= submit_tag 'Search' %>
  </p>
<% end %>

<%= paginate users %>

<%= render partial: "users/users", object: users,
  locals: { election: roll.present? ? roll.election : false } %>

<%= paginate users %>

<p>
<% if permitted_to? :create, User.new %>
<%= link_to 'New user', new_user_path %>
<% end %>
</p>

