<h2>Listing users <%= "for #{h @roll}" if @roll %></h2>

<p>
	<%= form_tag (@roll ? roll_users_path( @roll ) : users_path), :method => :get %>
	Search: <%= text_field_tag :search, @search %>
	<%= submit_tag "Go" %>
</p>

<%= will_paginate @users %>

<hr/>

<%= render :partial => "users", :object => @users %>
<hr />

<%= will_paginate @users %>

<p>
<%= link_to 'New user', new_user_path %>
</p>

