<h2>Listing users <%= "for #{@roll}" if @roll %></h2>

<%= form_tag polymorphic_path([ @roll, :users ]), :method => :get do |f| %>
  <p>
    <%= label_tag 'search[name_contains]', 'Name' %>
    <%= text_field_tag 'search[name_contains]', @search['name_contains'] %>
    <%= submit_tag 'Search' %>
  </p>
<% end %>

<%= paginate @users %>

<hr/>

<%= render :partial => "users/users", :object => @users %>
<hr />

<%= paginate @users %>

<p>
<% if permitted_to? :create, User.new %>
<%= link_to 'New user', new_user_path %>
<% end %>
</p>

