<%=content_tag :div, id: "user-#{user.id}" do %>
  <p>
    <b>Net id:</b> <%= user.net_id %>
  </p>

  <p>
	  <b>Email:</b> <%= user.email %>
  </p>

  <p>
    <b>First name:</b> <%= user.first_name %>
  </p>

  <p>
    <b>Last name:</b> <%= user.last_name %>
  </p>

  <p><b>Administrator?</b> <%= user.admin ? 'Yes' : 'No' %> </p>
<% end %>

<h2>Allowed elections</h2>

<% Election.allowable.all(include: :rolls, order: 'rolls.name ASC').each do |election| %>
  <% if user.rolls.where( election_id: election.id ).length > 0 %>
  <h3><%= election.name %></h3>
      <ul>
      <% user.rolls.where( election_id: election.id ).each do |roll| %>
        <%=content_tag :li, roll.name %>
      <% end %>
      </ul>
  <% end %>
<% end %>

