<p>
Dear <%= ballot.user.first_name %>,
</p>

<p>
This email is to confirm that you successfully cast a ballot in the <%= ballot.election %> election on
<%= ballot.created_at.to_s :us_ordinal %>.  If you believe you are receiving this email in error, please contact
<%=mail_to ballot.election.contact_email, ballot.election.contact_name %>.
</p>

<%=markdown ballot.election.verify_message %>

