<% form.inputs :name => form.object.race.name do %>
<li>
<%=markdown form.object.race.description %>

<% if form.object.warning %>
<div class="warnings">
<b>Warning:</b> <%=h form.object.warning %>
</div>
<% end %>

<% unless form.object.frozen? %>
<p><em>Instructions for this section:</em></p>

<% if form.object.race.is_ranked? %>

<p>
Please rank <u>all</u> options in your order of preference.
Using the drop down menu next to each option, select "1" for your most preferred choice,
"2" for your second most preferred, and so on.
If you choose not to include a candidate at all it means you would rather have your vote not
count than have it count for that candidate.
</p>

<% else %>

<p>
Please select your choices for this section.
You may choose up to <%=h form.object.race.available_slots %>.
</p>

<% end %>
<% end %>
<ol>
<%= form.input :race_id, :as => :hidden %>
<%= form.semantic_fields_for :votes, form.object.votes.sort do |subform| %>
  <%= render :partial => 'votes/form', :object => subform, :locals => { :race => form.object.race } %>
<% end %>
</ol>
</li>
<% end %>

