<%= table_row_tag do %>
  <td><%= election %></td>
  <td><%= link_to 'Show', election_url(election)%></td>
  <td><%= link_to( 'Edit', edit_election_path(election) ) if permitted_to? :update, election %></td>
  <td><%= link_to( 'Destroy', election, :confirm => 'Are you sure?',
        :method => :delete ) if permitted_to? :destroy, election %></td>
<% end %>

