  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Voting starts at</b><br />
    <%= f.calendar_date_select :voting_starts_at %>
  </p>

  <p>
    <b>Voting ends at</b><br />
    <%= f.calendar_date_select :voting_ends_at %>
  </p>

  <p>
    <b>Results available to public at</b><br />
    <%= f.calendar_date_select :results_available_at %>
  </p>

  <p>
  	<strong>Contact name</strong><br />
	<%= f.text_field :contact_name %>
  </p>

  <p>
  	<strong>Contact email</strong><br />
	<%= f.text_field :contact_email %>
  </p>

  <p>
  	<strong>Verify message (after vote is cast)</strong>
	<%= f.text_area :verify_message %>
  </p>

