<p>
  <b>Name:</b> <%=h @election.name %>
</p>

<p>
  <b>Starts at:</b> <%=h @election.starts_at.to_formatted_s :us_ordinal %>
</p>

<p>
  <b>Ends at:</b> <%=h @election.ends_at.to_formatted_s :us_ordinal %>
</p>

<p>
  <b>Results available at:</b> <%=h @election.results_available_at.to_formatted_s :us_ordinal %>
</p>

<p>
  <strong>Contact name:</strong> <%=h @election.contact_name %>
</p>

<p>
	<strong>Contact email:</strong> <%=h @election.contact_email %>
</p>

<p>
  <strong>Verify message:</strong>
</p>
  <%=markdown @election.verify_message %>

<p>
  <b>Ballots cast so far:</b> <%=h @election.ballots.size %><br/>
</p>

