<p>
  <b>Election name:</b> <%= election.name %>
</p>

<p>
  <b>Confidential?</b> <%= election.confidential? ? "Yes" : "No" %>
</p>

<p>
  <b>Starts at:</b> <%= election.starts_at.to_formatted_s :us_ordinal %>
</p>

<p>
  <b>Ends at:</b> <%= election.ends_at.to_formatted_s :us_ordinal %>
</p>

<p>
  <b>Results available at:</b> <%= election.results_available_at.to_formatted_s :us_ordinal %>
</p>

<%=content_tag :p do %>
  <%=content_tag :b, "Purge results after:" %> <%= election.purge_results_after.to_formatted_s :long %>
<% end %>

<% if election.purged_at? %>
  <%=content_tag :p do %>
    <%=content_tag :b, "Purged at:" %> <%= election.purged_at.to_formatted_s :us_ordinal %>
  <% end %>
<% end %>

<p>
  <b>Contact:</b> <%= election.contact_name %> &lt;<%=link_to election.contact_email, "mailto:#{election.contact_email}" %>&gt;
</p>

<p>
  <b>Verify message:</b>
</p>
  <%=markdown election.verify_message %>

<p>
  <b>Ballots cast so far:</b> <%= election.ballots.size %><br/>
</p>

