<%=content_tag :h1, "Elections" %>

<%= paginate(elections) %>

<%= render partial: "elections/elections", object: elections %>

<%= paginate(elections) %>

<hr />

<p>
<%= link_to( 'New election', new_election_path ) if permitted_to? :create, Election.new %>
</p>

