<p>
  <b>Name:</b> <%=h @election.name %>
</p>

<p>
  <b>Voting starts at:</b> <%=h @election.voting_starts_at %>
</p>

<p>
  <b>Voting ends at:</b> <%=h @election.voting_ends_at %>
</p>

<p>
  <b>Results available at:</b> <%=h @election.results_available_at %>
</p>

<p>
  <strong>Contact name:</strong> <%=h @election.contact_name %>
</p>

<p>
	<strong>Contact email:</strong> <%=h @election.contact_email %>
</p>

<p>
  <strong>Verify message:</strong>
</p>
  <%=markdown @election.verify_message %>

<p>
  <b>Ballots cast so far:</b> <%=h @election.ballots.size %><br/>
</p>

<% if @election.may_user?(current_user,:tabulate) %>
<p>
<%= link_to 'Tabulate results',
            tabulate_election_path(@election),
            :method => :post %>
</p>
<% end %>

<p>
<%= link_to( 'Edit', edit_election_path(@election) ) if @election.may_user?(current_user, :update) %> |
<%= link_to 'List rolls', election_rolls_path(@election) %> |
<%= link_to 'List races', election_races_path(@election) %> |
<%= link_to 'Back', elections_path %>
</p>

