<%= content_tag :li, id: "candidate-#{candidate}" do %>
<%=image_tag candidate.picture.url(:thumb), class: 'candidate-thumb' %>
<p>
  <b>Name:</b> <%=h candidate.name %>
</p>

<p>
  <b>Statement:</b>
</p>

<%=markdown candidate.statement %>

<p>
  <b>Disqualified?</b> <%= candidate.disqualified? ? 'Yes' : 'No' %>
</p>
<% end %>

