<h2>Listing candidates for <%=h @race %></h2>

<%=will_paginate @candidates %>

<%= render :partial => "candidates", :object => @candidates %>

<%=will_paginate @candidates %>

<hr/>

<p>
<% if permitted_to? :create, @race.candidates.build %>
<%= link_to "New candidate", new_race_candidate_path( @race ) %> |
<% end %>
<%= link_to "Back", race_path( @race ) %>
</p>

