<p>
  <b>Race:</b> <%=h @candidate.race_id %>
</p>

<p>
  <b>Name:</b> <%=h @candidate.name %>
</p>

<p>
  <b>Statement:</b>
</p>

<%=markdown @candidate.statement %>

<p>
  <b>Disqualified?</b> <%= @candidate.disqualified? ? 'Yes' : 'No' %>
</p>

<p><b>Picture:</b> <%= @candidate.picture.file? ? 'Yes' : 'No' %></p>

<p>
<%= link_to( 'Edit', edit_candidate_path( @candidate )) if @candidate.may_user?(current_user,:update) %> |
<%= link_to 'Back', race_candidates_path( @candidate.race ) %>
</p>

