<p>
  <b>Race:</b> <%=h @candidate.race_id %>
</p>

<p>
  <b>Name:</b> <%=h @candidate.name %>
</p>

<p>
  <b>Statement:</b>
</p>

<%=markdown @candidate.statement %>

<p>
  <b>Linked candidate:</b> <%=h @candidate.linked_candidate || 'None' %>
  <br/>
  A vote cast for <em><%= @candidate.linked_candidate.name %></em> will cause a vote to be cast for
  this candidate.
</p>

<p>
  <b>Disqualified?</b> <%= @candidate.disqualified? 'Yes' : 'No' %>
</p>

<p>
<%= link_to( 'Edit', edit_candidate_path( @candidate )) if @candidate.may_user?(current_user,:update) %> |
<%= link_to 'Back', race_candidates_path( @candidate.race ) %>
</p>

