<h2>Listing users for <%=h @roll %> roll</h2>

<table>
  <tr>
    <th>Name</th>
    <th colspan="2">Actions</th>
  </tr>

<% for user in @users %>
  <tr>
    <td><%=h user.name %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Destroy',
                    election_roll_user_path( @roll.election,
                                             @roll,
                                             user ),
                    :confirm => 'Are you sure?',
                    :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user', election_roll_path( @roll.election, @roll ) %>
