<h1>Editing tally</h1>

<% form_for(@tally) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :round_id %><br />
    <%= f.text_field :round_id %>
  </p>
  <p>
    <%= f.label :candidate_id %><br />
    <%= f.text_field :candidate_id %>
  </p>
  <p>
    <%= f.label :tally %><br />
    <%= f.text_field :tally %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @tally %> |
<%= link_to 'Back', tallies_path %>
