<h2>Listing petitioners for <%= @candidate %></h2>

<p>
	<%= form_tag candidate_petitioners_path( @candidate ), :method => :get %>
	Search: <%= text_field_tag :search, @search %>
	<%= submit_tag "Go" %>
</p>

<%= will_paginate @petitioners %>

<%= render :partial => "petitioners", :object => @petitioners %>

<%= will_paginate @petitioners %>

<hr/>

<p>
<% if permitted_to? :create, @candidate.petitioners.build %>
<%= link_to 'New petitioner', new_candidate_petitioner_path( @candidate ) %>
<% end %>
</p>

