<h2>Listing petitioners for <%= @candidate %></h2>

<p>
	<%= form_for @search, :url => polymorphic_path([ @candidate, :petitioners ]), :method => :get do |f| %>
	<%= f.label :user_name_contains, 'Search' %>
	<%= f.text_field :user_name_contains %>
	<%= submit_tag "Go" %>
	<% end %>
</p>

<%= paginate @petitioners %>

<%= render :partial => "petitioners", :object => @petitioners %>

<%= paginate @petitioners %>

<hr/>

<p>
<% if permitted_to? :create, @candidate.petitioners.build %>
<%= link_to 'New petitioner', new_candidate_petitioner_path( @candidate ) %>
<% end %>
</p>

