<h2>Listing petitioners for <%= @candidate %></h2>

<p>
	<%= form_tag candidate_petitioners_path( @candidate ), :method => :get %>
	Search: <%= text_field_tag :search, @search %>
	<%= submit_tag "Go" %>
</p>

<%= will_paginate @petitioners %>

<table>

<thead>
  <tr>
    <th>User</th>
  </tr>
</thead>

<tbody>
<% for petitioner in @petitioners %>
  <% table_row_tag do %>
    <td><%=h petitioner.user %></td>
    <td><%= link_to 'Show', petitioner_path( petitioner ) %></td>
    <td><%= link_to 'Edit', edit_petitioner_path( petitioner ) %></td>
    <td><%= link_to 'Destroy', petitioner_path( petitioner ), :confirm => 'Are you sure?', :method => :delete %></td>
  <% end %>
<% end %>
</tbody>

</table>

<%= will_paginate @petitioners %>

<hr/>

<p>
<%= link_to 'New petitioner', new_candidate_petitioner_path( @candidate ) %>
</p>

