<p>
  <b>Election:</b> <%=h @roll.election %>
</p>

<p>
  <b>Name:</b> <%=h @roll %>
</p>

<p>
<% if permitted_to? :edit, @roll %>
<%= link_to( 'Edit', edit_roll_path( @roll ) ) %> |
<% end %>
<%= link_to 'List users', roll_users_path( @roll ) %> |
<% if permitted_to? :create, :users %>
<%= link_to 'Import users', bulk_new_roll_user_path(@roll) %> |
<% end %>
<%= link_to 'Back', election_rolls_path( @roll.election ) %>
</p>

