<p>
  <b>Election:</b> <%=h @roll.election %>
</p>

<p>
  <b>Name:</b> <%=h @roll %>
</p>

<p>
<%= link_to( 'Edit', edit_roll_path( @roll ) ) if permitted_to? :edit, @roll %> |
<%= link_to 'List users', roll_users_path( @roll ) %> |
<%= link_to 'Import users', bulk_new_roll_user_path(@roll) %> |
<%= link_to 'Back', election_rolls_path( @roll.election ) %>
</p>

