<h1>Login</h1>

<%= form_tag user_session_path, class: 'form-horizontal' do %>
  <%=content_tag :div, class: 'control-group' do %>
    <%=label_tag :net_id, nil, class: 'control-label' %>
    <%=content_tag :div, class: 'controls' do %>
      <%= text_field_tag :net_id, params[:net_id] %>
    <% end %>
  <% end %>

  <%=content_tag :div, class: 'control-group' do %>
    <%=label_tag :password, nil, class: 'control-label' %>
    <%=content_tag :div, class: 'controls' do %>
      <%= password_field_tag :password %>
    <% end %>
  <% end %>

  <%=content_tag :div, class: 'control-group' do %>
    <%= submit_tag "Login", class: 'btn btn-primary' %>
  <% end %>

<% end %>

